*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #ccc;
	font-family: 'Roboto Slab', serif;
	color: #F0F6FD;
}
.container {
	margin: auto;
	background: #0D141A;
	width: 100%;
	height: 100vh;
	max-width: 414px;
	max-height: 896px;
}

header h1 {
	font-size: 18px;
	text-align: center;
	padding-top: 1em;
}

.pinkclip {
	position: absolute;
	top: -30px;
    left: -55px;
}

.goldclip {
	position: absolute;
	bottom: 15px;
	left: -70px;
}

.brownclip {
	position: absolute;
	top: 100px;
	right: -70px;
}

h2 {
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 3em;
}

/* Slideshow container */

.slider  {
  display: flex;
  margin: auto;
  height: 750px;
  width: 370px;
}

.owl-carousel .mySlides {
	z-index: 999;
	border: 1px solid #F0F6FD;
	margin: 2em;
	height: 750px;
}

.owl-carousel .fade__text {
	text-align: center;
	padding-top: 1em;
	text-transform: uppercase;
}

.owl-carousel .fade__number {
	border-bottom: 1px solid #F0F6FD;
	margin: 0 8em;
}

.owl-carousel .mySlides img {
	width: 100%;
}

.owl-carousel .circleplus {
	display: block;
	margin: auto;
	margin-bottom: 2em;
}

/* Hide the images by default
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

/* CSS Scroll-Linked Animations */